<% if user_signed_in?%>
  <%= render 'navbar_user_logged_in'%>
<% else %>
  <%= render 'navbar_logged_out'%>
<% end %>
<h1>Articles</h1>
<h3>Find all the latests posts right here.</h3>
<hr></hr>

<% if user_signed_in?%>
  <% @articles.each do |article| %>
    <h3> <strong><%=article.title%></strong> </h3>
    <p><%= article.content %></p>
    <p><%= link_to 'Show', article_path(article) %> &nbsp; <%= link_to 'Edit', edit_article_path(article)%> &nbsp; <%= link_to 'Delete', article_path(article), method: :delete%></p>
    <p>&nbsp;</p>
  <% end %>
<% else%>
  <p> You must be logged in to view articles. </p>
<% end %>