<h3> <%= link_to 'Articles', root_path %> -- <%= link_to 'Post new article', new_article_path %> </h3>
<hr></hr>

<h1> Published article </h1>
<hr></hr>

<h3>
    <%= @article.title %>
</h3>
<p>
    <%= @article.content %>
</p>
<p>&nbsp;</p> 

<h3>Comments</h3>
<% @article.comments.each do |comment| %>
  <p>
    <%= comment.commenter %>
    (<%= comment.email %>):
    <%= comment.body %>
  </p>
<% end %>
<hr></hr>
<%= render 'comment_form'%>