<h3> <%= link_to 'Articles', root_path %> -- <%= link_to 'Post new article', new_article_path %> </h3>
<hr></hr>

<h1> Published article </h1>
<hr></hr>

<h3>
    Title: <%= @article.title %>
</h3>
<p>
    Content: <%= @article.content %>
</p>

<%= render 'comment_form'%>