<%= render 'navbar_user_logged_in'%>

<div class="header">
  <h1>Published article</h1>
  <h3>Read a comment.  Leave a comment.  Please be nice.</h3>
</div>


<h3>
    <%= @article.title %>
</h3>
<p>
    <%= @article.content %>
</p>
<p>&nbsp;</p> 

<h3>Comments</h3>
<% @article.comments.each do |comment| %>
  <p>
    <%= comment.commenter %>
    (<%= comment.email %>):
    <%= comment.body %>
  </p>
<% end %>
<hr></hr>
<%= render 'comment_form'%>