<!DOCTYPE html>
<html>
  <head>
    <title>RailsDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice || alert %>
    <h3> <%= link_to 'Articles home', root_path %> -- <%= link_to 'Post new article', new_article_path %> -- <%= link_to 'Login' %></h3>
    <hr></hr>
    <%= yield %>
  </body>
</html>
